<div class = "form-group">
    <label for ="name">Name</label>
    <input required value ="<%=product.name%>" type ="text" name="name" id ="name" class ="form-control">
</div>
<div class = "form-group">
    <label for ="supplied">Date when supplied</label>
    <input required type ="text" name="supplied" id ="supplied" class ="form-control">
</div>
<div class = "form-group">
    <label for ="quantity">Quantity</label>
    <input required type ="text" name="quantity" id ="quantity" class ="form-control">
</div>
<div class = "form-group">
    <label for ="supplier">Supplier</label>
    <input required type ="text" name="supplier" id ="supplier" class ="form-control">
</div>
<div class = "form-group">
    <label for ="shelves">Shelves</label>
    <input required type ="text" name="shelves" id ="shelves" class ="form-control">
</div>
<div class = "form-group">
    <label for ="status">Status</label>
    <input required type ="text" name="status" id ="status" class ="form-control">
</div>

<a href="/" class = "btn btn-secondary">Cancel</a>
<button  type ="submit" class ="btn btn-primary">Save</button>