<div class = "form-group">
    <label for ="name">Name</label>
    <input required value ="<%=product.name%>" type ="text" name="name" id ="name" class ="form-control">
</div>
<div class = "form-group">
    <label for ="supplied">Date when supplied</label>
    <input required type ="text" name="supplioed" id ="supplied" class ="form-control">
</div>
<div class = "form-group">
    <label for ="quantity">Quantity</label>
    <input required type ="text" name="quantity" id ="quantity" class ="form-control">
</div>

<a href="/" class = "btn btn-secondary">Cancel</a>
<button  type ="submit" class ="btn btn-primary">Save</button>